
$error-image-size:400px;

.error-content{

	.main-title{
		margin-bottom:$double-margin;
	}

	.sub-title{
		color:$blue-dark;
		text-align:center;
	}

	.error-image{
		width:$error-image-size;
		height:$error-image-size;
		border-radius:50%;
		margin:$double-margin auto;
		position:relative;
		background:$gray-light;

		.icon-item{
			width:65%;
			height:65%;
			position:absolute;
			@include vertical-horizontal-align();

			&:after,
			&:before{
				width:100%;
				height:100%;
			}
		}
	}

	@media (max-width:$screen-md){
		$error-image-size:300px;

		.error-image{
			width:$error-image-size;
			height:$error-image-size;
		}
	}
}