
$max-col:12;
$list-queries:'lg' $screen-lg, 'md' $screen-md, 'sm' $screen-sm, 'xs' $screen-xs, 'xxs' $screen-xxs;

@for $i from 1 through $max-col{

	@if $i == 1 {

	    .mod-#{$i}col-xl{
			@include cols($i,0,0);
			margin-right:0;

		}


	} @else {

		.mod-#{$i}col-xl{
			@include cols($i , $margin-col);

		}

		.mod-#{$i}col-xl-nomargin{
			@include cols($i , 0, 0);
		}

		@if $i >= 3{

			@for $e from 2 through $i - 1{

				.mod-#{$i}col-merge-#{$e}-xl{
					@include colsMerge($i , $margin-col, $e);

				}

				.mod-#{$i}col-merge-#{$e}-xl-nomargin{
					@include colsMerge($i , 0, $e);
				}

			}
				
		}
			
	}

}

@each $z in $list-queries{

	@media (max-width:nth($z, 2)){

		@for $i from 1 through $max-col{

			@if $i == 1 {

			    .mod-#{$i}col-#{nth($z, 1)}{

					@include cols($i,0,0);
					margin-right:0;
					margin-bottom:$double-margin;

				}

			} @else {

				.mod-#{$i}col-#{nth($z, 1)}{
					@include cols($i , $margin-col);

				}

				.mod-#{$i}col-#{nth($z, 1)}-nomargin{
					@include cols($i , 0, 0);
				}

				@if $i >= 3{

					@for $e from 2 through $i - 1{

						.mod-#{$i}col-merge-#{$e}-#{nth($z, 1)}{
							@include colsMerge($i , $margin-col, $e);

							

						}

						.mod-#{$i}col-merge-#{$e}-#{nth($z, 1)}-nomargin{
							@include colsMerge($i , 0, $e);
						}

					}
						
				}

				.no-margin-right-#{nth($z, 1)}{
					margin-right:0!important;
				}
					
			}

		}
	}
	
}
