$width-container:1040px;

$main-margin:10px;
$double-margin:$main-margin * 2;

$margin-col:$double-margin;
$padding-col:$margin-col;

$screen-xxl:1820px;
$screen-xl:1400px;
$screen-lg:1040px;
$screen-md:800px;
$screen-sm:620px;
$screen-xs:480px;
$screen-xxs:320px;

$montserrat-black:'montserrat-black', sans-serif;
$montserrat-bold:'montserrat-bold', sans-serif;
$montserrat-extrabold:'montserrat-extrabold', sans-serif;
$montserrat-hairline:'montserrat-hairline', sans-serif;
$montserrat-light:'montserrat-light', sans-serif;
$montserrat-regular:'montserrat-regular', sans-serif;
$montserrat-semibold:'montserrat-semibold', sans-serif;
$montserrat-ultralight:'montserrat-ultralight', sans-serif;