$width-container:1040px;

$main-margin:10px;
$double-margin:$main-margin * 2;

$margin-col:$double-margin;
$padding-col:$margin-col;

$screen-xxl:1820px;
$screen-xl:1400px;
$screen-lg:1040px;
$screen-md:800px;
$screen-sm:620px;
$screen-xs:480px;
$screen-xxs:320px;

$black:#000;
$white:#FFF;
$black-alpha:rgba(0,0,0,0.5);
$black-alpha-lightbox:rgba(0,0,0,0.8);
$white-alpha:rgba(255,255,255,0.8);

$gray-light:#F2F2F2;
$gray-light2:#dedede;
$gray:#CCC;
$gray-dark:#999;
$gray-dark-more:#333;

$gray-tab:#d4d1d1;

$yellow:#edbe00;
$yellow-light:#f2e4ae;
$blue-dark:#394079;
$blue-dark-more:#353853;
$blue-text:#353853;
$teal:#27b9b7;
$teal-light:#3dcecc;
$teal-extraLight:#9bf9f4;
$red:#e44141;
$font-size-title:11px;
$line-height:1.5;
$lines-to-show-title:2;


$montserrat-black:'montserrat-black', sans-serif;
$montserrat-bold:'montserrat-bold', sans-serif;
$montserrat-extrabold:'montserrat-extrabold', sans-serif;
$montserrat-hairline:'montserrat-hairline', sans-serif;
$montserrat-light:'montserrat-light', sans-serif;
$montserrat-regular:'montserrat-regular', sans-serif;
$montserrat-semibold:'montserrat-semibold', sans-serif;
$montserrat-ultralight:'montserrat-ultralight', sans-serif;

.container_card{
    background: $gray-light;
    float: left;
    padding: 20px;
    width: 100%;
    margin-top: -120px;
    position: relative;
    z-index: 2;
    //box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);
    box-sizing: border-box;
}

.Card_offer_Component{
    background: $white;
    float: left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);  
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 3px;    
    overflow: hidden;
    width: 100%;
    margin-bottom:20px;
    line-height: 20px;

    a{
        margin-top: 10px;
    }

    .Card_offer_Component_image{
        width: 100%;
        min-width: 400px;
        max-height: 175px;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            overflow: hidden;
            transform: translateY(-16%);
        }

    }

    .Card_offer_Component_info{
        position: absolute;
        background: #394079;
        width: 100%;
        bottom: 0;
        padding: 0 20px;

        .ofertas-info-item{
            display: inline-block;
            //width: 20px;
            height: 20px;
            //background: $red;
            margin-right: 5px;
            border-radius: 50%;
            font-size: 10px;
            float: left;
            color: white;

            .icon-item{
                height: 20px;
                float: left;

                &:before{
                    width: 20px;
                    height: 20px;
                    top: inherit;
                    margin-top: 10px;
                    //margin-left: 3px;
                }
            }
        }
    }
    .Card_offer_Component_content{        
        float: left;
        width: calc(100%);
        padding:20px;

        .Card_offer_Component_title{
            font-family:$montserrat-regular;
            color:$blue-dark;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            // margin-bottom: 5px;
            /* litite de dos renglones */
            max-width:100%;
			min-height: 16px;
			height: $font-size-title*$line-height*$lines-to-show-title; /* Fallback for non-webkit */
			font-size: $font-size-title;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show-title;
			-webkit-box-orient: vertical;
			overflow: hidden;
            text-overflow: ellipsis;
            /**/
        }
        .Card_offer_Component_description{
            font-family:$montserrat-regular;
            color:$blue-dark;
            font-size: 11px;
        }
        .Card_offer_Component_price{
            text-align: right;
            p{
                float: left;    
                width: 100%;
                font-size: 9px;
                line-height: 12px;
                color:$blue-dark;

                &.price-old{
                    margin-top: -9px;
                    span{
                        font-size: 11px;
                        text-decoration: line-through;
                        color: gray;                        
                        color: $teal;
                    }
                }

                strong{                    
                    line-height: 11px!important;
                }

                span{
                    font-size: 18px;
                    font-family:$montserrat-regular;                    
                    width: 100%;
                    text-align: right;
                }                
                b{
                    font-size: 18px;
                    font-family:$montserrat-semibold;
                    color:$blue-dark;
                    width: 100%;
                    text-align: right;
                    float: left;

                    i{
                        font-size: 9px;
                        font-family:$montserrat-regular;
                    }
                }
            }
        }
    }

    &:hover{                  
        box-shadow: 0 20px 24px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
        a{
            margin-top:5px;       
        }
    }
}